// core color variable partial
$primaryText: #353535;
$primaryTextLight: #383838;
$primaryTextDark: #282829;
$secondaryText: #bfbec0;
$background: #fafafa;
$highlightedBackground: #0000000d;
$codeSnippetColor: #555555;
