// core color variable partial
$primaryText: #353535;
$primaryTextLight: #383838;
$primaryTextDark: #282829;
$secondaryText: #bfbec0;
$background: #ffffff;
$highlightedBackground: #fbfbfb;
$codeSnippetColor: #555555;
