// core color variable partial
$primaryText: #353535;
$primaryTextLight: #383838;
$primaryTextDark: #282829;
$secondaryText: #777777;
$background: #fafafa;
$highlightedBackground: #f3f3f3;
$codeSnippetColor: #555555;
