.content {
    flex: 1;
    padding: 1rem;
    flex-direction: column;
    max-width: 800px;
    a {
        color: $homeSecondary;
    }
}

@media screen and (min-width: 800px) {
  .content {
    margin: auto;
    width: 100%;
  }
}

.page_title {
    margin: auto;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 2rem;
}

.page_title_underline {
    background-color: $homePrimary;
    height: .2rem;
}

.page_title_section {
  width: fit-content;
}
