.navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 6rem;
    align-self: center;
}

.nav_heading {

}

.nav_navigation {

}

.nav_naviagation_list {
    display: flex;
    justify-content: center;
}

.list_elements {
    margin: 5px;
    list-style-type: none;
}
