$homePrimary: #ff8000;
$homeSecondary: #008c8c;

.article_main {

}

.article_wrapper {

}

.article_tittle {

}

.article_date {

}

.article_content {

}

.disqus_section {

}

.disqus_thread {

}

.nav_naviagation_list.article_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
