body {
  background: #ffffff url(/static/img/web-tile.png);
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
}
a {
    text-decoration: none;
    color: #808080;
}

a:hover {
  text-decoration: none;
  color: #7B3F00;
}
.header {
   max-width: 100rem;
  margin: 2rem  auto;
  margin-bottom: 1.5rem;

}
.content {
  max-width: 100rem;

}
.tech {
  width: 8rem;
  height: 8rem;
  margin: 1em 1em 1em 1em;
  text-align: center;
}
.tech-a {
  width: 13rem;
  height: 8rem;
  margin: 1em 1em 1em 1em;
  text-align: center;

}
.about {
  font-size: 1.6em;
  max-width: 75em;
  text-align: center;
}

.head {
  border-bottom: solid;
  padding-bottom: 1em;
  border-width: 1px;
}
.navbar {

  background: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}
.navigation {
font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  padding: 1em 0 2em 1em;
  list-style: none;
  overflow: visible;
}
.navigation>li {
  display: inline-block;
  margin: 0 .5em 0 .5em;
}
.active {
  text-decoration: none;
  color: #7B3F00;


}
.navbar-text {
  margin: 0;
}

.brand-night {
  color: #F5DEB3;
  }
.q-brand {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 2em;
  cursor: pointer;

}

.night-mode {
  background: #ffffff url(/static/img/web_tile_night.png);
  color: #F5DEB3;
}

.buttons {
  padding-top: 8%;
  padding-bottom: 13%;
  text-align: center;
  max-width: 100rem;
}

.btn {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  box-shadow: none;
  color: #ffff;
  background: transparent;
  text-shadow: none;
  color: #808080;
}

.btn:hover,
.btn:active {
  background: transparent;
  color: #7B3F00;
  border-style: double;
  border-color: #7B3F00;
}

.icons {
  text-align: right;
}

.toggle {
  text-align: right;
    margin-bottom: 5%;
  margin-top: 2%;
}

.toggle-light {
  font-size: 2.5em;
  cursor: pointer;
   margin: 0;

}

.toggle-light:hover {
  color: #7B3F00;

}

.name {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 4em;
  font-weight: 400;
}

.img {
  height: 250px;
  width: 250px;
}

.image {
  text-align: right;
}

.info {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}
.footer-main {
  margin-top: 5%;

}

footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
    position: relative;
  width: 100%;
}

.fa-heart {
  color: #808080;
}
.fa-heart:hover {
  color: red;
}
.social-footer {
  text-align: center;
  margin-top: 5%;

}
.social {
  color: #808080;
}
.social:hover {
  color: #7B3F00;
}

.img-circle {
  margin: 10px;
   -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* media query styles */

@media screen and (max-width: 990px) {
  .icons {
    text-align: center;
  }
  .info,
  .name,
  .image,
  .box {
    text-align: center;
  }
  .buttons {
    margin-left: 0;
    margin-right: 0;
  }
  .header {
    margin: 2%;
  }
}


@media screen and (max-width: 430px) {
  .info,
     {
    font-size: 1em;
    text-align: center;
  }
  .name {
    text-align: center;
  }
  .navigation {
    text-align: center;
  }
}



