* {
margin: 0;
}
body {
    background: url(/static/img/web-tile.png) #fff;
    width: 100%;
    min-height: 100%;
    font-family: Raleway, sans-serif;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal
}
a {
    text-decoration: none;
    color: gray
}
a:hover {
    text-decoration: none;
    color: #7B3F00
}
.header {
    max-width: 100rem;
    margin: 2rem auto -1.5rem;
}
.content {
    max-width: 92rem;
}
.content-home {
    margin-top: 7rem;
    max-width: 100rem;
}
.article {
    font-size: .9em;
    text-align: justify;
}
.tech {
    width: 8rem;
    height: 8rem;
    margin: 1em;
    text-align: center
}
.tech-a {
    width: 13rem;
    height: 8rem;
    margin: 1em;
    text-align: center
}
.main-row {
    text-align: center;
    height: auto !important;
    padding: 0 auto -6em;

    }
.main-content {
    font-size: 2em;
    text-align: center;
    margin: 0
}
.head {
    border-bottom: solid;
    padding-bottom: 1em;
    border-width: 1px
}
.navbar {
    background: 0 0;
    box-shadow: none;
    border: none
}
.navigation {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em 0 2em 1em;
    list-style: none;
    overflow: visible;
    text-align: left;
}
.navigation>li {
    display: inline-block;
    margin: 0 .5em
}
.active {
    text-decoration: none;
    color: #7B3F00
}
.navbar-text {
    margin: 0
}
.brand-night {
    color: wheat
}
.q-brand {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 2em;
    cursor: pointer
}
.night-mode {
    background: url(/static/img/web_tile_night.png) #fff;
    color: wheat
}
.buttons {
    padding-top: 5rem;
    padding-bottom: 9rem;
    text-align: center;
    max-width: 100rem
}
.btn {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    box-shadow: none;
    background: 0 0;
    text-shadow: none;
    color: gray
}
.btn:active,
.btn:hover {
    background: 0 0;
    color: #7B3F00;
    border-style: double;
    border-color: #7B3F00
}
.icons {
    padding-top: 1em;
    text-align: right;
}
.image {
padding-top: 3em;
text-align: right;
}
/*.toggle {
    text-align: right;
    margin-bottom: 5%;
    margin-top: 2%
}
.toggle-light {
    font-size: 2.5em;
    cursor: pointer;
    margin: 0;
}
*/.name {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 4.2em;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0
}
.img {
    height: 250px;
    width: 250px
}
.tittle {
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 4.5rem;
}
.post {
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 3rem;
}
.time {
    font-size: 2.3rem;
    padding-bottom: 1em;
    font-weight: lighter;

}
.time-post {
    text-align: left;
    padding-left: 1rem;
    font-size: 2rem;
    margin-left: 3rem
}
}
.image {
    padding-top: 3em;
    text-align: right
}
.info {
    font-family: Raleway, sans-serif;
    font-size: 1.3em;
    font-weight: 800
}
.footer, .push {
    height: 6em;
}
.foot-note {
    margin-bottom: 2rem;
}
footer {
    font-family: Raleway, sans-serif;
    text-align: center;
    position: relative;
    width: 100%;
}
.fa-heart {
    color: gray
}
.fa-heart:hover {
    color: red
}
.social-footer {
    text-align: center;
}
.social {
    color: gray
}
.social:hover {
    color: #7B3F00
}
.error {
    padding: 10rem 0 15rem;
    text-align: center
}
.img-circle {
    margin: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2)
}

/*--- article styles  */
blockquote {
    border-left: 4px solid deepskyblue;
    margin-left: -19px;
    padding-left: 15px;
    margin-right: 0px;
}

.quote {
    line-height: 60px !important;
    font-size: 49px !important;
}


pre {
    margin: 1em;
    max-width: 86rem;
    border: 0;
}

@media screen and (max-width: 990px) {
    .icons {
        text-align: center
    }
    .box,
    .image,
    .info,
    .name {
        padding-top: 0;
        text-align: center
    }
    .buttons {
        margin-left: 0;
        margin-right: 0;
    }
    .header {
        margin: 2%
    }
    .toggle {
        margin-bottom: 0;
    }
    pre {
        margin: 0;
    }
}
@media screen and (max-width: 430px) {
    .info {
        font-size: 1.3em;
        text-align: center
    }
    .name {
        font-size: 3.2em;
    }
    .name,
    .navigation {
        text-align: center
    }
    .buttons {
        padding-bottom: 5rem;
    }
}