body {
  background: #ffffff url(/static/img/web-tile.png);
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.navbar {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  min-height: 120px;
  background: transparent;
  background-image: none;
  box-shadow: none;
}
.navbar-header {
 min-height: 120px;

}
.navigation {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

.navbar-brand {
  margin: 0px;
  padding: 0 10px 0 0;
}
.brand {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 40px;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
  text-decoration: none;
}

.content {
  padding-top: 5%;
  min-height: 82%;
}
.buttons {
  padding-top: 150px;
  padding-bottom: 75px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.btn {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  box-shadow: none;
  color: #ffff;
  background: transparent;
}
.btn:hover,
.btn:active {
  background: transparent;
  color: #ffff;
  border-style: double;
  color: rgb(42, 100, 150);
}

.icons {
  text-align: center;
}


.name {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 100px;
  font-weight: 400;
}
 .img {
    height: 300px;
    width: 300px;
  }
  .thumb {
    height: 80px;
    width: 80px;
  }
  .image {
    text-align: right;
  }
.info {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
.down {
  margin-top: 200px;
}

footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 5%;
  position: relative;

}

.fa-heart {
  color: #808080;
}
.fa-heart:hover {
  color: red;
}

.social {
}
.social {
  color: #808080;
}
.social:hover {
  color: rgb(42, 100, 150);

}

  .img-circle {
    margin: 10px;
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

  .thumb-circle {
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* media query styles */
  @media screen and (max-width: 992px) {
.image,
.box {
  text-align: center;
}
.buttons {
  margin-left: 0px;
  margin-right: 0px;
}

}
@media screen and (max-width: 600px) {
  .name {
    font-size: 75px;
  }
  .brand {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .name {
    font-size: 50px;
  }
  .info {
    font-size: 18px;
  }
  .brand {
    display: none;
  }
}

