/* Wrapper */
.icon-button {
  background-color: none;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 3.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 4.2rem;
  margin: -2.1rem;

}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.content1{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  
  position: relative;
}

.social{
  text-align: right;
  font-size: 20px;
  padding-top: 40px;
  

}
.social1{
  text-align: left;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 40px;
}

@media (max-width: 780px){
  .social,
  .social1 {
    text-align: center;
  }
  .social {
    padding-bottom: 0px;
  }
  .social1 {
    padding-bottom: 50px;
    padding-top: 0px;
  }
}




.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.pinterest span {
  background-color: #cb2027;
}



.icon-button .icon-twitter {
  color: white;
}
.icon-button .icon-facebook {
  color: white;
}
.icon-button .fa-tumblr {
  color: white;
}
.icon-button .icon-google-plus {
  color: white;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}




.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
  color: #333;
  text-decoration: none;
  border-bottom: none;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 2.8rem;
    font-size: 1.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    width: 2.8rem;
  }

  .icon-button:hover span {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 3.2rem;
    margin: -1.6rem;
  }

  /* Icons */
  .icon-button i {
    height: 2.8rem;
    line-height: 2.8rem;
    width: 2.8rem;
  }

}