$homePrimary: #50c0fb;
$homeSecondary: #630;

.home_main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;

    a {
        color: $homeSecondary;
    }
}

.home_tittle {
    margin: auto;
}

.home_title_underline {
    background-color: #d0d0d0;
    height: .2rem;
}

.home_description {
}

.nav_naviagation_list.home_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
