$homePrimary: #50c0fb;
$homeSecondary: #332313;

.home_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

.home_section_row {
    display: flex;
    flex-direction: column;
    margin: .3rem 0;
}

.home_ruled_heading {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

.home_ruled_heading:after {
    content: "";
    background-color: #e8e8e8;
    height: 1px;
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 16px;
}

.home_section_desc_item_desc {
    margin: 0.3rem;
    font-style: italic;
}

.home_section_desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home_section_desc_items {
    margin: 1em 0 0.2em;
    font-weight: 400;
    font-size: 1.5rem;
}

.nav_naviagation_list.home_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
