$homePrimary: #ffe63e;
$homeSecondary: #58b23d;

.blog_main {

}

.blog_title {

}

.blog_articles_section {

}

.blog_articles_row {

}

.blog_articles_title {

}

.blog_articles_date {

}

.nav_naviagation_list.blog_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
