{% extends "templates/template.html" %}

{% block seo %}
<meta name="description" content="Projects - Vikash Kumar. Currently developer @Practo" />
<meta name="google-site-verification" content="DbfaEmBqSHBfNrEjIqF3UbAsQu-lXI21ZU-GgeM2bLs" />
<!-- Facebook tag -->
<meta property="og:tittle" content="About | Vikash Kumar" />
<meta property="og:url" content="https://vikash.me/about" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Projects - Vikash Kumar. Currently developer @Practo"/>
<meta property="og:image" content="https://vikash.me/images/vikash_1000x100.jpg" />
<meta property="og:site_name" content="About">

<!-- twitter tag -->
<meta name="twitter:card" content="Projects Description" />
<meta name="twitter:title" content="Projects | Vikash Kumar" />
<meta name="twitter:description" content="Projects - Vikash Kumar. Currently developer @Practo"/>
<meta name="twitter:url" content="https://vikash.me.me/about"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_1000x100.jpg"/>
<meta name="twitter:creator" content="@CoderVikash">
{% endblock %}

{% block tittle %}About | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/about.css" %}
{% endblock %}

{% block content %}
<main class="page_main">
    <header class="page_title">
        <h1>About me</h1>
        <div class="page_title_underline"></div>
    </header>
    <section class="about_image_section">
        <img class="about_image" src="/images/vikash_200x200.webp"></img>
    </section>
    <section class="about_detail_section">
        <p class="about_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</main>
{% endblock %}
