{% extends "templates/template.html" %}

{% block seo %}
<meta name="google-site-verification" content="SDpxvVVmU0iOOw8NsbJHEoidHQAU9L1pzvIG8XUgM6" />

<meta itemprop="name" content="About - Vikash Kumar">
<meta name="description" content="About Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta itemprop="image" content="https://vikash.me/images/vikash_seo.png">

<!-- Facebook tag -->
<meta property="og:tittle" content="About - Vikash Kumar" />
<meta property="og:url" content="https://vikash.me/about" />
<meta property="og:type" content="website" />
<meta property="og:description" content="About of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta property="og:image" content="https://vikash.me/images/vikash_seo.png" />
<meta property="og:site_name" content="About Vikash Kumar">
<meta property="fb:admins" content="1456060372" />

<!-- twitter tag -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="About - Vikash Kumar" />
<meta name="twitter:description" content="About Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta name="twitter:url" content="https://vikash.me/about"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_seo.png"/>
<meta name="twitter:creator" content="@CoderVikash">
<meta name="twitter:author" content="@CoderVikash">
{% endblock %}

{% block tittle %}About | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/about.css" %}
{% endblock %}

{% block content %}
<main class="page_main">
    <header class="page_title">About me</header>
    <div class="page_title_underline"></div>
    <section class="about_image_section">
        <img class="about_image" src="/images/vikash_200x200.jpg"></img>
    </section>
    <section class="about_detail_section">
        <p><blockquote>If this looks overwhelming, you can read a short bio on <a href="/">home page</a> <spam style="font-style:normal;">&#128579;</span>.</blockquote></p>
        <p><strong>Hello!!</strong> My name is <strong>Vikash Kumar</strong>. I work as a Software Develoepr at <a href="https://www.practo.com">Practo</a>. I am a part of book team, taking care of appointment's booking on the platform.</p>
        <p>I mostly use Python for my personal projects and its my second love &#128541;. You can check them <a href="https://www.github.com/codervikash">here</a>. At Practo, I mostly use PHP. Love for UX have tought me a good amount of front end tech and am quite comfortable with libraries/framework/tools including React, Backbone, Bootstrap, gulp and sometimes can have adventure with vanila JS and CSS also (Like this website).</p>
        <p>I read Quora a lot, from waking up in morning(probably afternoon) till I sleep. Some of my favorite topics are computer science(oviously), history and design. When I get time from Quora and coding, I usually read tech updates at <a href="http://www.techcrunch.com">TechCrunch</a> or tech and architecture blogs on <a href="http://www.medium.com">Medium</a>. If interested, check out the <a href="https://medium.com/@CoderVikash">publications I follow on it.</a></p>
        <p>Atom used to be my favorite text editor, but I used <a href="https://vim.sourceforge.io/">Vim</a> and fell for it, here are <a href="https://github.com/codervikash/config">my Vim and other config files</a>. I waste a lot of time customizing them.</p>
        <p>If interested checkout my <a href="https://goo.gl/0msnN4">resume</a> or <a href="https://www.linkedin.com/in/codervikash/">LinkedIn</a>. You can also shoot an <a href="mailto:mailkumarvikash@gmail.com">email</a>.</p>
    </section>
</main>
{% endblock %}

{% block js_files %}
{% endblock %}
