{% extends "template.html" %}

{% block seo %}
  <meta name="description" content="About Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.

  @CoderVikash" />
  <meta name="google-site-verification" content="DbfaEmBqSHBfNrEjIqF3UbAsQu-lXI21ZU-GgeM2bLs
" />
<!-- Facebook tag -->
 <meta property="og:tittle" content="About | Vikash Kumar" />
  <meta property="og:url" content="https://vikashkumar.me/about" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="About Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.

  @CoderVikash"/>
  <meta property="og:image" content="https://vikashkumar.me/static/img/100x100.jpeg" />
  <meta property="og:site_name" content="About">

<!-- twitter tag -->
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="About | Vikash Kumar" />
   <meta name="twitter:description" content="About Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.

  @CoderVikash"/>
   <meta name="twitter:url" content="https://vikashkumar.me/about"/>
   <meta name="twitter:image" content="https://vikashkumar.me/static/img/100x100.jpeg"/>
   <meta name="twitter:creator" content="@CoderVikash">

{% endblock %}
{% block tittle %}About | Vikash Kumar{% endblock %}

{% block content %}
<main class="about_main">
    <section class="about_image_section">
        <div class="about_image">

        </div>
    </section>
    <section class="about_detail_section">
      <div class="about_detail">

      </div>
    </section>
</main>
{% endblock %}
