{% extends "templates/template.html" %}

{% block seo %}
<meta name="google-site-verification" content="GhSWpL7W7Bxc4DAY1kzcRgpWhKUO5kDX5gCXIR94P9g" />

<meta itemprop="name" content="{{tittle}} - Blog | Vikash Kumar">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="https://vikash.me/images/vikash_seo.png">

<!-- Facebook tag -->
<meta property="og:title" content="{{tittle}} - Blog | Vikash Kumar" />
<meta property="og:url" content="https://blog.vikash.me/{{url}}/" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="{{description}}"/>
<meta property="og:image:secure_url" content="https://vikash.me/images/vikash_seo.png" />
<meta property="og:site_name" content="Blog | Vikash Kumar">
<meta property="og:site_name" content="Vikash Kumar" />
<meta property="article:published_time" content="{{date}}" />
<meta property="article:modified_time" content="{{date}}" />
<meta property="article:tag" content="{{tags}}" />
<meta property="fb:admins" content="1456060372" />

<!-- twitter tag -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{tittle}} - Blog | Vikash Kumar" />
<meta name="twitter:description" content="{{description}}"/>
<meta name="twitter:url" content="https://blog.vikash.me/{{url}}/"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_seo.png"/>
<meta name="twitter:creator" content="@CoderVikash">
<meta name="twitter:author" content="@CoderVikash">
{% endblock %}

{% block tittle %}{{tittle}} - Blog | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/article.css" %}
{% endblock %}

{% block extra %}
<script src="https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true"></script>
{% endblock %}

{% block page_heading %}{{tittle}}{% endblock %}

{% block content %}
<article class="article_wrapper">
    <section class="article_desc">
        {% if tags %}
        <span class="blog_article_tags"><img class="blog_article_desc_img" src="/images/tag.svg" alt="">
            {% for tag in tags %}
            #{{tag}},
            {% endfor %}
        </span>
        {% endif %}
    </section>
    <section class="article_content">{{content | safe}}</section>
</article>
<section class="disqus_section">
    <div id="disqus_thread"></div>
</section>
{% endblock %}

{% block js_files %}
{% endblock %}

{% block discus %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    // Variables
    var link = window.location.href;
    var disqus_shortname = 'vikashkumarme';
    var disqus_identifier = '{{url}}';
    var disqus_tittle = '{{tittle}}';
    var disqus_url = link;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
{% endblock %}
