{% extends "template.html" %}

{% block seo %}
  <meta name="description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.
  @CoderVikash" />
  <meta name="google-site-verification" content="DbfaEmBqSHBfNrEjIqF3UbAsQu-lXI21ZU-GgeM2bLs
" />
<!-- Facebook tag -->
  <meta property="og:tittle" content="Blog | Vikash Kumar" />
  <meta property="og:url" content="https://blog.vikashkumar.me" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.
  @CoderVikash"/>
  <meta property="og:image" content="https://vikashkumar.me/static/img/100x100.jpeg" />
  <meta property="og:site_name" content="Blog Vikash Kumar">

<!-- twitter tag -->
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="Blog | Vikash Kumar" />
   <meta name="twitter:description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.

  @CoderVikash"/>
   <meta name="twitter:url" content="https://blog.vikashkumar.me"/>
   <meta name="twitter:image" content="https://vikashkumar.me/static/img/100x100.jpeg"/>
   <meta name="twitter:creator" content="@CoderVikash">
{% endblock %}


{% block tittle %}Blog | Vikash Kumar{% endblock %}


{% block content %}
<main class="blog_main">
  <header class="blog_tittle">
    <h1>Blog</h1>
  </header>
  {% for article in article %}
    <section class="blog_articles_section">
      <a href="/{{article.url}}/">
        <h2 class="blog_articles_title">{{article.tittle}}</h1>
      </a>
      <h3 class="time-blog_articles_date">{{article.date.strftime('%a, %B %d')}}</h3>
    </section>
  {% endfor %}
</main>
{% endblock %}
