{% extends "templates/template.html" %}

{% block seo %}
<meta name="description" content="Personal home page and blog of Vikash Kumar. Currently developer @Practo" />
<meta name="google-site-verification" content="DbfaEmBqSHBfNrEjIqF3UbAsQu-lXI21ZU-GgeM2bLs
" />
<!-- Facebook tag -->
<meta property="og:tittle" content="Blog | Vikash Kumar" />
<meta property="og:url" content="https://blog.vikash.me" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="Personal home page and blog of Vikash Kumar.Currently developer @Practo"/>
<meta property="og:image" content="https://vikash.me/images/vikash_1000x1000.jpg" />
<meta property="og:site_name" content="Blog Vikash Kumar">

<!-- twitter tag -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Blog | Vikash Kumar" />
<meta name="twitter:description" content="Personal home page and blog of Vikash Kumar. Currently developer @Practo"/>
<meta name="twitter:url" content="https://blog.vikash.me"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_1000x1000.jpg"/>
<meta name="twitter:creator" content="@CoderVikash">
{% endblock %}

{% block tittle %}Blog | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/article_list.css" %}
{% endblock %}

{% block content %}
<main class="page_main">
    <header class="page_title">Writings</header>
    <div class="page_title_underline"></div>
    <section class="blog_articles_section">
        {% for article in article %}
            <div class="blog_articles_row">
                <span class="blog_articles_title">
                    <a href="/blog/{{article.url}}/">{{article.tittle}}</a>
                </span>
                <span class="blog_articles_desc">
                    <span class="blog_articles_date"><img class="blog_articles_desc_img" src="/images/clock.svg" alt="">{{article.date.strftime('%b %d')}}</span>
                    {% if article.tags %}
                        <span class="blog_articles_tags"><img class="blog_articles_desc_img" src="/images/tag.svg" alt="">
                            {% for tag in article.tags %}
                                #{{tag}},
                            {% endfor %}
                        </span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock %}

{% block js_files %}
{% endblock %}
