{% extends "templates/template.html" %}

{% block seo %}
<meta name="google-site-verification" content="GhSWpL7W7Bxc4DAY1kzcRgpWhKUO5kDX5gCXIR94P9g" />

<meta itemprop="name" content="Personal Blog - Vikash Kumar">
<meta name="description" content="Personal Blog - Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta itemprop="image" content="https://vikash.me/images/vikash_seo.png">

<!-- Facebook tag -->
<meta property="og:title" content="Personal Blog - Vikash Kumar" />
<meta property="og:url" content="https://blog.vikash.me/" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="Personal Blog of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta property="og:image" content="https://vikash.me/images/vikash_seo.png" />
<meta property="og:site_name" content="Personal Blog">
<meta property="fb:admins" content="1456060372" />

<!-- twitter tag -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Personal Blog - Vikash Kumar" />
<meta name="twitter:description" content="Personal Blog of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta name="twitter:url" content="https://blog.vikash.me/"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_seo.png"/>
<meta name="twitter:creator" content="@CoderVikash">
<meta name="twitter:author" content="@CoderVikash">
{% endblock %}

{% block tittle %}Blog | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/article_list.css" %}
{% endblock %}

{% block page_heading %}Writings{% endblock %}

{% block content %}
<section class="blog_articles_section">
    {% for article in article %}
    <div class="blog_articles_row">
        <span class="blog_articles_title">
            <a href="/{{article.url}}/">{{article.tittle}}</a>
        </span>
        <span class="blog_articles_desc">
            <span class="blog_articles_date"><img class="blog_articles_desc_img" src="/images/clock.svg" alt="">{{article.date.strftime('%b %d')}}</span>
            {% if article.tags %}
            <span class="blog_articles_tags"><img class="blog_articles_desc_img" src="/images/tag.svg" alt="">
                {% for tag in article.tags %}
                #{{tag}},
                {% endfor %}
            </span>
            {% endif %}
        </span>
    </div>
    {% endfor %}
</section>
{% endblock %}

{% block js_files %}
{% endblock %}
