{% extends "templates/template.html" %}

{% block tittle %}
{% if error.code %}{{error.code}}{% else %}{{error}}{% endif %} | Vikash Kumar
{% endblock %}

{% block stylesheet %}
{% include "stylesheets/error.css" %}
{% endblock %}

{% block content %}
<div class="page_main">
    <section class="error_section">
        <div class="error_section_img">
            <img src="">
        </div>
        <div class="error_section_description">
            <p>Err, I know it sucks but you can always return for the <a href="/">awesome </a>!!</p>
        </div>
    </section>
</div>
{% endblock %}
