{% extends "templates/template.html" %}

{% block tittle %}Vikash Kumar{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<main class="home_main">
    <header class="home_tittle">
        <h1>Vikash Kumar</h1>
        <div class="home_title_underline"></div>
    </header>
    <section>
        <p class="home_description">I &#x2764 Python and Javascript. Talk to me about software design, algorithms. When I am not coding I usually read Techcrunch and extensively follow hacker news. I am a silent quora reader. &#x263A;</p>
        <p class="home_description">Currently developer @Practo</p>
    </section>
    <section class="home_nav">
        <a class="home_nav_links" href="https://blog.vikash.me">Writings</a>
        <a class="home_nav_links" href="/about">About</a>
        <a class="home_nav_links" href="/projects">Projects</a>
        <a class="home_nav_links" href="/contact">Contact</a>
    </section>
</main>
{% endblock %}
