{% extends "templates/template.html" %}

{% block tittle %}Vikash Kumar{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="home_content">
    <main class="home_main">
        <header class="home_tittle">
            <h1>Vikash Kumar</h1>
            <div class="home_title_underline"></div>
        </header>
        <section>
            <p class="home_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </section>
        <section class="home_nav">
            <a class="home_nav_links" href="https://blog.vikash.me">Writings</a>
            <a class="home_nav_links" href="/about">Know me</a>
            <a class="home_nav_links" href="/projects">Lab</a>
            <a class="home_nav_links" href="/contact">Contact</a>
        </section>
    </main>
</div>
{% endblock %}
