{% extends "templates/template.html" %}

{% block seo %}
<meta name="google-site-verification" content="SDpxvVVmU0iOOw8NsbJHEoidHQAU9L1pzvIG8XUgM6" />

<meta itemprop="name" content="Projects - Vikash Kumar">
<meta name="description" content="Projects of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta itemprop="image" content="https://vikash.me/images/vikash_seo.png">

<!-- Facebook tag -->
<meta property="og:title" content="Projects - Vikash Kumar" />
<meta property="og:url" content="https://vikash.me/projects" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Projects of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta property="og:image" content="https://vikash.me/images/vikash_seo.png" />
<meta property="og:site_name" content="Projects">
<meta property="fb:admins" content="1456060372" />

<!-- twitter tag -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Projects - Vikash Kumar" />
<meta name="twitter:description" content="Projects of Vikash Kumar. @CoderVikash. Currently developer @Practo"/>
<meta name="twitter:url" content="https://vikash.me/projects"/>
<meta name="twitter:image" content="https://vikash.me/images/vikash_seo.png"/>
<meta name="twitter:creator" content="@CoderVikash">
<meta name="twitter:author" content="@CoderVikash">
{% endblock %}

{% block tittle %}Projects | Vikash Kumar{% endblock %}

{% block stylesheet %}
{% include "stylesheets/projects.css" %}
{% endblock %}

{% block content %}
<main class="page_main">
    <header class="page_title">Projects</header>
    <div class="page_title_underline"></div>
</main>
{% endblock %}

{% block js_files %}
{% endblock %}
