{% extends "templates/template.html" %}

{% block tittle %}Blog | Vikash Kumar{% endblock %}

{% block content %}
{% if pending %}
    <div class="write_main">
        <div class="write_notice">
            <p class="write_status">Check your mail your request is pending </p>
            <button type="button" class="write_email_button" onclick=resend()>Resend Link</button>
        </div>
    </div>
{% else %}
    <div class="write_main">
        <div class="write_notice">
            <p class="write_status"> We have send you link at your mail. Kindly follow it to get write page.</p>
            <button type="button" class="write_email_button" onclick=resend()>Resend Link</button>
        </div>
    </div>
{% endif %}
{% endblock %}
