{% extends "template.html" %}

{% block tittle %}About | Vikash Kumar{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 main-content">
      <h1 class="tittle">About</h1>

        <p class="article">My name is Vikash Kumar. I love problem solving and creating things. I mostly spend time developing for the web and writing beautiful & structured code. Besides that, I love solving problems on <a target="blank" href="http://www.hackerrank.com">Hackerrank</a>, <a target="blank" href="http://www.codeshef.com">Codeshef</a> & <a target="blank" href="http://www.topcoder.com">TopCoder</a>. My love for gadgets is unquestionable and proudly own a MBP!! When I am not converting coffee into code, I read tech blogs and extensively follow <a target="blank" href="http://techcrunch.com">TechCrunch</a>. I write also, about whatever I think is best when shared, mostly  related to technology and programming on my <a href="http://blog.vikashkumar.me">Blog</a>.</p>
        <p class="article">To see outcome of my passion, check my <a href="https://github.com/codervikash?tab=repositories">Portfolio.</a></p></br>


        <p class="article">I am mostly found with these technologies, if they sound exciting, definitely have a <a href="#connect">conversation</a>!!!</p>
        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/c.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/python.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/angularjs.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/cloud.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/js.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/node.svg">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech" src="/static/img/html5.svg">
        </div>
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img class="tech-a" src="static/img/aws.svg">
        </div>
      </div>
      <p></p>
          <p class="article">If all this is not enough, here’s my <a href="#">resumé</a>.</p>

    </div>

  </div>
{% endblock %}


