{% extends "template.html" %}

{% block tittle %}Article | Vikash Kumar{% endblock %}


{% block extra %}

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 main-content">
      <h1 class="tittle"><a href="disqus"></a>{{tittle}}</h1>
      <h3 class="time">{{date.strftime('%a, %B %d')}}</h3>
      <article class="article">{{content | safe}}</article>
   </div>
   <div class="col-lg-12 main-content">
     <div id="disqus_thread"></div>
   </div>
 {% endblock %}


{% block discus %}
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'vikashkumarme'; // Required - Replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}