{% extends "template.html" %}


{% block tittle %}Vikash Kumar{% endblock %}

{% block nav %}


{% endblock %}

{% block content %}
<div class="container-fluid content">

  <div class="row">
  <!-- image and name -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 image">
      <img src="static/img/cropped.jpeg" alt="..." class="img-circle img">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 box">
      <div class="icons">
        <span class="fa-stack fa-lg fa-3x">
        <!-- <i id="icon" class="fa fa-circle fa-stack-2x fa-2x icon"></i> -->
          <a href="mailto:mailkumarvikash@gmail.com"><i id="social" class="fa fa-envelope fa-stack-1x fa-inverse social"></i></a>
        </span>
        <span class="fa-stack fa-lg fa-3x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
          <a href="https://twitter.com/CoderVikash"><i class="fa fa-twitter fa-stack-1x fa-inverse social"></i></a>
        </span>
        <span class="fa-stack fa-lg fa-3x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
          <a href="https://github.com/codervikash"><i class="fa fa-github-alt fa-stack-1x fa-inverse social"></i></a>
        </span>
      </div>

        <label class="name">Vikash Kumar</label></br>
        <label class="info">A hard core <a href="https://twitter.com/hashtag/Geek?src=hash">#Geek</a>, <a href="https://twitter.com/hashtag/Developer?src=hash">#Developer</a>.</br> <i class="fa fa-heart"></i> <a href="https://twitter.com/hashtag/Python?src=hash">#Python</a>, <a href="https://twitter.com/hashtag/Algorithms?src=hash">#Algorithms,</a> <a href="https://twitter.com/hashtag/Javascript?src=hash">#Javascript</a>, <a href="https://twitter.com/hashtag/GoogleCloudPlatform?src=hash">#GoogleCloudPlatform</a></label>
    </div>
  </div>
  <div class="row">
  <!-- social icon on small devices -->
    <div class="col-sm-12 col-xs-12">

    </div>
  </div>

  <div class="row buttons">
  <!-- links -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='http://blog.vikashkumar.me'">Blog</button>
    </div>
    <div style="padding-left: 0px;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='https://github.com/codervikash?tab=repositories'">Projects</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='/about'">About</button>
    </div>
  </div>

  </div>
</div>

{% endblock %}