<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Vikash Kumar</title>
<!-- font -->
<link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- font awsome cdn-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom style link -->
<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>

<div class="container-fluid">

  <div class="row">
  <!-- image and name -->
    <div class="col-xs-12 col-md-6 col-lg-4 image">
      <img src="static/img/cropped.jpeg" alt="..." class="img-circle img">
    </div>
    <div class="col-xs-12 col-md-6 col-lg-8 box">
    <div>
    <div class="icons">
      <span class="fa-stack fa-lg fa-3x">
        <!-- <i id="icon" class="fa fa-circle fa-stack-2x fa-2x icon"></i> -->
        <a href="mailto:mailkumarvikash@gmail.com"><i id="social" class="fa fa-envelope fa-stack-1x fa-inverse social"></i></a>
      </span>
      <span class="fa-stack fa-lg fa-3x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
        <a href="https://twitter.com/CoderVikash"><i class="fa fa-twitter fa-stack-1x fa-inverse social"></i></a>
      </span>
      <span class="fa-stack fa-lg fa-3x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
        <a href="https://github.com/codervikash"><i class="fa fa-github-alt fa-stack-1x fa-inverse social"></i></a>
      </span>
    </div>

      <label class="name">Vikash Kumar</label></br>
      <label class="info">A hard core <a href="https://twitter.com/hashtag/Geek?src=hash">#Geek</a>, <a href="https://twitter.com/hashtag/Developer?src=hash">#Developer</a>.</br> <i class="fa fa-heart"></i> <a href="https://twitter.com/hashtag/Python?src=hash">#Python</a>, <a href="https://twitter.com/hashtag/Algorithms?src=hash">#Algorithms,</a> <a href="https://twitter.com/hashtag/Javascript?src=hash">#Javascript</a>, <a href="https://twitter.com/hashtag/GoogleCloudPlatform?src=hash">#GoogleCloudPlatform</a></label>
      </div>
    </div>
  </div>
  <div class="row">
  <!-- social icon on small devices -->
    <div class="col-sm-12 col-xs-12">

    </div>
  </div>

  <div class="row buttons">
  <!-- links -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='http://blog.vikashkumar.me'">Blog</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='https://github.com/codervikash?tab=repositories'">Projects</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='/about'">About</button>
    </div>
  </div>

  </div>
</div>

<footer class="navbar navbar-fixed-bottom">It's all yours under<a href="http://creativecommons.org/publicdomain/zero/1.0/"> Creative Commons CC0.</a></footer>



<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>