{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="p:domain_verify" content="4493cd35fd394942c5559497139e1ef0"/>

  <!-- theming the status bar -->
  <!-- Chrome & Firefox OS -->
  <meta name="theme-color" content="#636569">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#636569">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#636569">

{% block seo %}
  <meta name="description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.
  @CoderVikash" />
  <meta name="google-site-verification" content="DbfaEmBqSHBfNrEjIqF3UbAsQu-lXI21ZU-GgeM2bLs" />
<!-- Facebook tag -->
 <meta property="og:tittle" content="Vikash Kumar" />
  <meta property="og:url" content="https://vikashkumar.me/" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.
  @CoderVikash"/>
  <meta property="og:image" content="https://vikashkumar.me/static/img/100x100.jpeg" />
  <meta property="og:site_name" content="Home">

<!-- twitter tag -->
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="Vikash Kumar" />
   <meta name="twitter:description" content="Personal home page and blog of Vikash Kumar.
  A passionate Geek & Developer. I love Python and algorithms.

  @CoderVikash"/>
   <meta name="twitter:url" content="https://vikashkumar.me/"/>
   <meta name="twitter:image" content="https://vikashkumar.me/static/img/100x100.jpeg"/>
   <meta name="twitter:creator" content="@CoderVikash">
{% endblock %}

  <title>{% block tittle %}Vikash Kumar{% endblock %}</title>
  <!-- font -->
  <link href='//fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <!-- font awsome cdn-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom style link -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

{% block extra %}
{% endblock %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- google analytics -->
</head>
<body>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default header" role="navigation">
  <div class="container-fluid head">
        <a class="navbar-brand" href="https://vikashkumar.me"><label class="q-brand">Vikash Kumar</label></a>
        <div class="navbar-text navbar-right" style="float:right;">
         <!--  <div class="toggle-template">
            <span class="toggle-light"><i class="fa fa-adjust"></i></span>
          </div>
 -->    </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="row">
    <ul class=" navigation">
      <li><a id="blog" href="https://blog.vikashkumar.me">Blog</a></li>
      <li><a id="project" href="https://github.com/codervikash?tab=repositories" target="blank">Portfolio</a></li>
      <li><a id="about" href="https://vikashkumar.me/about">About</a></li>
    </ul>
  </div>
</nav>
<div class="row main-row">
  <div class="container-fluid content">

{% endblock %}

{% block content %}
{% endblock %}

{% block social %}
  </div>
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="connect" class="social-footer">
        <label>Connect :</label>
        <span class="fa-stack fa-lg fa-2x">
        <!-- <i id="icon" class="fa fa-circle fa-stack-2x fa-2x icon"></i> -->
          <a href="mailto:mail@vikashkumar.me"><i id="social" class="fa fa-envelope fa-stack-1x fa-inverse social"></i></a>
        </span>
        <span class="fa-stack fa-lg fa-2x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
          <a href="https://twitter.com/CoderVikash"><i class="fa fa-twitter fa-stack-1x fa-inverse social"></i></a>
        </span>
        <span class="fa-stack fa-lg fa-2x">
        <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
          <a href="https://github.com/codervikash"><i class="fa fa-github-alt fa-stack-1x fa-inverse social"></i></a>
        </span>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <p>It's all yours under<a href="http://creativecommons.org/publicdomain/zero/1.0/"> Creative Commons CC0.</a> | <a href="https://github.com/codervikash/vikash" target="blank">source.</p>
</footer>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
//   // jquery for toggling light
//   var d = localStorage.getItem("nightmode");
//   d == "true" ? ($("body").addClass("night-mode"), $(".q-brand").addClass("brand-night"),$(".toggle-light").css("color","white")) : ($("body").removeClass("night-mode"), $(".q-brand").removeClass("brand-night"),$(".toggle-light").css("color","black"));

//   $(".toggle-light").click(function() {
//       $("body").toggleClass("night-mode");
//       $("body").hasClass("night-mode") ? (localStorage.setItem("nightmode", "true"), $(".q-brand").addClass("brand-night"),$(".toggle-light").css("color","white")) : (localStorage.setItem("nightmode", "false"), $(".q-brand").removeClass("brand-night"),$(".toggle-light").css("color","black"));
//   });

//   $('#{{page}}').addClass('active');

$(document).ready(function() {
    $('pre').each(function(i, block) {
    hljs.highlightBlock(block);
  });

});
</script>

{% block discus %}
{% endblock %}

</body>
</html>
{% endblock %}
