{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block tittle %}Vikash Kumar{% endblock %}</title>
<!-- font -->
<link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- font awsome cdn-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom style link -->
<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <div class="container-fluid head">
    <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="/"><label class="q-brand brand">Vikash Kumar</label></a>
      <div class="navbar-text">
        <span class="fa-stack">
          <a href="mailto:mailkumarvikash@gmail.com"><i id="social" class="fa fa-envelope fa-lg fa-inverse social"></i></a>
        </span>
        <span class="fa-stack">
          <a href="https://twitter.com/CoderVikash"><i class="fa fa-twitter fa-lg fa-inverse social"></i></a>
        </span>
        <span class="fa-stack">
          <a href="https://github.com/codervikash"><i class="fa fa-github-alt fa-lg fa-inverse social"></i></a>
        </span>
      </div>

      <div class="toggle-template navbar-right">
      <span class="toggle-light">☼</span>
    </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-left low-header">
      <ul class="nav navbar-nav">
          <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
<div class="container">
{% block content %}

{% endblock %}
</div>
{% block footer %}
<footer class="footer navbar-static-bottom">It's all yours under<a href="http://creativecommons.org/publicdomain/zero/1.0/"> Creative Commons CC0.</a></footer>
</div>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script>

  // jquery for toggling light
  var d = localStorage.getItem("nightmode");

  d == "true" ? $("body").addClass("night-mode") : $("body").removeClass("night-mode");
  $(".toggle-light").click(function() {
    $("body").toggleClass("night-mode");
    $(".q-brand").toggleClass("brand-night");
    $(".q-brand").toggleClass("brand");
    $("body").hasClass("night-mode") ? localStorage.setItem("nightmode" , "true") : localStorage.setItem("nightmode", "false");
  });

</script>

</body>
</html>
{% endblock %}