{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block tittle %}Vikash Kumar{% endblock %}</title>
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- font awsome cdn-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom style link -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<!-- google analytics -->

</head>
<body>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default header" role="navigation">
  <div class="container-fluid head">
        <a class="navbar-brand" href="/"><label class="q-brand">Vikash Kumar</label></a>
        <div class="navbar-text navbar-right" style="float:right;">
          <div class="toggle-template">
            <span class="toggle-light">☼</span>
          </div>
        </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="row">
      <ul class=" navigation">
        <li><a id="blog" href="http://blog.vikashkumar.me">Blog</a></li>
        <li><a id="project" href="https://github.com/codervikash?tab=repositories">Portfolio</a></li>
        <li><a id="about" href="/about">About</a></li>
      </ul>
    </div>
</nav>
{% endblock %}
<div class="container-fluid content">

{% block content %}

{% endblock %}
{% block social %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="connect" class="social-footer">
    <label>Connect :</label>
      <span class="fa-stack fa-lg fa-2x">
      <!-- <i id="icon" class="fa fa-circle fa-stack-2x fa-2x icon"></i> -->
        <a href="mailto:mailkumarvikash@gmail.com"><i id="social" class="fa fa-envelope fa-stack-1x fa-inverse social"></i></a>
      </span>
      <span class="fa-stack fa-lg fa-2x">
      <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
        <a href="https://twitter.com/CoderVikash"><i class="fa fa-twitter fa-stack-1x fa-inverse social"></i></a>
      </span>
      <span class="fa-stack fa-lg fa-2x">
      <!-- <i class="fa fa-circle fa-stack-2x icon"></i> -->
        <a href="https://github.com/codervikash"><i class="fa fa-github-alt fa-stack-1x fa-inverse social"></i></a>
      </span>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer navbar-static-bottom">It's all yours under<a href="http://creativecommons.org/publicdomain/zero/1.0/"> Creative Commons CC0.</a> except as otherwise <a href="/attibution">Mentioned</a>.</footer>
</div>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>

  // jquery for toggling light
  var d = localStorage.getItem("nightmode");
  d == "true" ? ($("body").addClass("night-mode"),$(".q-brand").addClass("brand-night")) : ($("body").removeClass("night-mode"),$(".q-brand").removeClass("brand-night"));

  $(".toggle-light").click(function() {
  $("body").toggleClass("night-mode");
  $("body").hasClass("night-mode") ? (localStorage.setItem("nightmode" , "true"), $(".q-brand").addClass("brand-night")) : (localStorage.setItem("nightmode", "false"), $(".q-brand").removeClass("brand-night"));
  });


  $('#{{page}}').addClass('active');

</script>
</body>
</html>
{% endblock %}
