$homePrimary: #ff8000;
$homeSecondary: #008c8c;

.write_main {

}

.write_notice {

}

.write_status {

}

.write_email_button{

}

.nav_naviagation_list.write_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
