$homePrimary: #ff8000;
$homeSecondary: #008c8c;

.error_section {

}

.error_section_img {

}

.error_section_description {

}

.nav_naviagation_list.error_link> a {
    border-bottom: solid .1rem $homeSecondary;
}
